<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Service</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Edit Service</h2>
        <form method="post">
            <div class="form-group">
                <label for="serviceSelect">Select Service:</label>
                <select class="form-control" id="serviceSelect" name="serviceSelect" required>
                    {% for service in services %}
                        <option value="{{ service.id }}">{{ service.name }}</option>
                        
                    {% endfor %}
                </select>
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3" required>{{ services.description }}</textarea>
            </div>
         
        
            
            <button type="submit" class="btn btn-primary">Update Service</button>
        </form>
    </div>
</body>
</html>

